{include file="public/header" /}

<div class="page-title">

    <div class="title-env">
        <h1 class="title">现金提现</h1>
    </div>



</div>
<div class="panel panel-default">




        <form role="form" id="form1" method="post" action="{:url('save')}" class="validate" onsubmit="return checkpwd();">

		  
            <h2>当前可提现余额：¥{$data.moneys}</h2>
          </br>
            <input type="hidden" id="moneys" value="{$data.moneys}">
    
            <div class="form-group">
             <label class="control-labell" for="field-5" >输入支付宝账号</label>
             <br>
             <input  class="form-control" style="margin: 0px -33.5px 0px 0px;  height: 30px;" value="" name="number" id="number" >
         </div>
         <div class="form-group">
             <label class="control-labell" for="field-5" >输入姓名</label>
             <br>
             <input  class="form-control" style="margin: 0px -33.5px 0px 0px;  height: 30px;" value="" name="name"  id="name">
         </div>
           <div class="form-group">
             <label class="control-labell" for="field-5" >输入提现金额（最低100元）</label>
             <br>
             <input  class="form-control" style="margin: 0px -33.5px 0px 0px;  height: 30px;" value="" name="size" id="size" >
         </div>
            
           <div class="form-group">
                <button type="submit" class="btn btn-success">提交申请</button>
      </br>小贴士：申请提现后最慢24小时内到账，</br>联系客服加急处理，可立即到账，</br>官方客服微信 zcdcgs-1 (24小时在线，咨询秒回)
            </div>
        </form>

    </div>


{$code=='1'?'<div class="col-md-6" id="alert" style="position:fixed;right:0px;bottom:0px;  width: 350px">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>

        <strong>恭喜 !</strong> 修改成功.
    </div>
</div>

':''}
<script>
    function checkpwd(){
       // return false;
           var size = $('#size').val();
           var moneys= $('#moneys').val();
         
           if(parseInt(size)==100){
             alert('提现金额必须大于100元');
              return false;
           }
           if(parseInt(size)>parseInt(moneys)){
            alert('提现金额大于账户现金');
            return false;
           }
    }
    setTimeout("$('#alert').fadeOut(1000)",2000)
</script>

<script>
var number=10; //定义条目数

function LMYC() {
var lbmc;
    for (i=1;i<=number;i++) {
        lbmc = eval('LM' + i);
        lbmc.style.display = 'none';
    }
}
 
function ShowFLT(i) {
    lbmc = eval('LM' + i);
    if (lbmc.style.display == 'none') {
        LMYC();
        lbmc.style.display = '';
    }
    else {
        lbmc.style.display = 'none';
    }
}
</script>

<script type="text/javascript">
var __aObj=document.getElementsByTagName("a");
var __length=__aObj.length;
for(var i=0;i<__length;i++){
	__aObj[i].onfocus=function(){this.blur();}
}
</script>
{include file="public/footer" /}