
<div class="page-title">

    <div class="title-env">
        <h1 class="title">平台列表</h1>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="{:url('/')}"><i class="fa-home"></i>Home</a>
            </li>

            <li class="active">

                <strong>Banner</strong>
            </li>
        </ol>

    </div>

</div>
<!-- Responsive Table -->
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="panel-options">


                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="#" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <form method="post" action="{:url('htyy/lie')}{$_tokenjinhe?'?_tokenjinhe='.$_tokenjinhe:''}">
                <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk"
                     data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">

                    <div class="btn-toolbar">
                        <div class="btn-group focus-btn-group">
                            <button class="btn btn-default"><i class="el-pencil"></i> 保存</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk"
                             data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">

                            <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk"
                                 data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 120px">主播名称</th>
                                    </tr>
                                    </thead>
                                    <tbody id="add">
                                    {volist name="list" id="vo"}
                                    <tr>
                                        <th >
                                            <input type="text" style="width: 500px" class="form-control" name="name[]" value="{$vo.name}"  placeholder="" />

                                        </th>
                                        <th>
                                            <button onclick="$(this).parent().parent().remove()" class="btn btn-danger"><i class="el-pencil"></i> 删除</button>
                                        </th>

                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                <input type="hidden" name="pid" value="{$pid}">
                                <input type="hidden" name="_tokenjinhe" value="{$_tokenjinhe}">
                                <button type="button" onclick="add()" class="btn btn-default"><i class="el-pencil"></i> 添加</button>
                            </div>


                        </div>

                    </div>
            </form>


        </div>

    </div>


</div>
<script>
    function add() {
        $('#add').append('<tr>' +
            '                                        <th >' +
            '                                            <input type="text" style="width: 500px" class="form-control" name="name[]" value=""  placeholder="" />' +
            '                                        </th>' +
            '                                        <th>' +
            '                                            <button onclick="$(this).parent().parent().remove()" class="btn btn-danger"><i class="el-pencil"></i> 删除</button>' +
            '                                        </th>' +
            '                                    </tr>')
    }
</script>