* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none
}

html {
	font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
	-webkit-text-size-adjust: 100%
}

body {
	height: 100%;
	line-height: 1.6;
	font-size: .32rem;
	color: #333;
	background-color: #f5f5f9;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

body::-webkit-scrollbar {
	display: none
}

ul {
	list-style: none
}

i {
	font-style: normal
}

button,input,select,textarea {
	border: none;
	outline: none;
	background-color: transparent;
	-webkit-appearance: none
}

a {
	color: #666;
	text-decoration: none;
	outline: 0
}

img {
	width: 100%;
	border: none;
	outline: none
}

:not(input):not(select):not(textarea) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.sp-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.sp-content {
	padding-top: .9rem
}

@font-face {
	font-family:spicon;font-weight:400;font-style:normal;src:url(../font/icon.ttf) format("truetype")
}[class*=sp-icon-] {
	display: inline-block;
	font-family: spicon!important;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased
}



.sp-content {
	padding-top: 0!important
}

.sp-content .bigImg {
	width: 100%;
	padding-top: .3rem;
	position: relative
}

.sp-content .bigImg img {
	width: 100%
}

.sp-content .bigImg .getVip {
	left: 0;
	bottom: -1.5rem;
	width: 100%;
	overflow: hidden
}

.sp-content .bigImg .getVip button,.sp-content .bigImg .getVip input {
	display: block;
	margin: auto;
	border: 1px solid #f60;
	height: .8rem;
	width: 5.5rem;
	margin-bottom: .5rem;
	border-radius: .2rem;
	padding-left: .2rem;
	font-size: .3rem;
	text-align: center;
	line-height: .8rem
}

.sp-content .bigImg .getVip button {
	padding-left: 0;
	/*
	background-color: #f60;
	*/
	background: linear-gradient(to right,#ff5e3e 0,#ff1679 100%);
	color: #fff
}

.sp-content .bigImg .getVip .success {
	text-align: center;
	margin-bottom: .6rem;
	color: #f60;
	font-size: .4rem;
	font-weight: bolder
}

.sp-content .bigImg .downlaod {
	position: absolute;
	left: 0;
	bottom: .2rem;
	width: 100%;
	color: #ccc;
	overflow: hidden
}

.sp-content .bigImg .downlaod button {
	display: block;
	margin: auto;
	border: 1px solid #f60;
	height: .8rem;
	width: 5.5rem;
	border-radius: .2rem;
	font-size: .3rem;
	text-align: center;
	background-color: #f60;
	color: #fff;
	line-height: .8rem
}

.sp-content .friends {
	font-size: .25rem;
	width: 90%;
	margin: auto
}

.sp-content .friends h3 {
	height: 1px;
	border-top: 1px solid #000;
	text-align: center;
	font-weight: 400;
	margin-top: .5rem
}

.sp-content .friends h3 p {
	position: relative;
	top: -.25rem;
	color: #787878;
	font-family: Microsoft yahei;
	letter-spacing: 2px;
	background: #fff;
	width: 2.8rem;
	margin: auto;
	font-weight: 700
}

.sp-content .friends .friendsList ul {
	position: relative;
	width: 100%;
	height: 1rem;
	overflow: hidden;
	margin-top: .3rem;
	border-bottom: 1px solid #ccc;
	color: #787878
}

.sp-content .friends .friendsList ul .icon {
	display: inline-block;
	float: left
}

.sp-content .friends .friendsList ul .icon img {
	width: 100%;
	height: 100%
}

.sp-content .friends .friendsList ul .center {
	display: inline-block;
	width: 60%;
	height: 100%;
	float: left;
	line-height: .5rem;
	margin-left: .3rem
}

.sp-content .friends .friendsList ul .center .telNum {
	display: inline-block;
	font-weight: bolder
}

.sp-content .friends .friendsList ul .center .time {
	display: inline-block;
	margin-left: .6rem
}

.sp-content .friends .friendsList ul .center .guid {
	display: block
}

.sp-content .friends .friendsList ul .right {
	display: inline-block;
	width: 20%;
	float: left;
	line-height: 1rem;
	font-size: .4rem;
	color: #f60
}

.sp-content .friends .friendsList ul .right span {
	padding-left: .5rem
}

.sp-content .rule {
  padding-top: 0.8rem;
	font-size: .25rem;
	width: 90%;
	margin: auto;
	position: absolute;
	-webkit-transform: translateX(5%);
	transform: translateX(5%);
}

.sp-content .rule h3 {
	height: 1px;
	border-top: 1px solid #000;
	text-align: center;
	font-weight: 400;
	margin-top: .3rem
}

.sp-content .rule h3 p {
	position: relative;
	top: -.25rem;
	color: #787878;
	letter-spacing: 2px;
	background: #fffae4;
	width: 1.5rem;
	margin: auto;
	font-weight: 700
}

.sp-content .rule ul {
	padding-left: .3rem;
	padding-top: .3rem
}

.sp-content .rule ul li {
	list-style-type: decimal;
	color: #aaa;
	padding-bottom: .1rem
}

.sp-content .mask {
	width: 100%;
	height: 126%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.7)
}

.sp-content .code-layer {
	width: 80%;
	height: 5rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: fixed;
	top: 50%;
	left: 10%;
	z-index: 999;
	background-color: #fff;
	border-radius: .1rem
}

.sp-content .code-layer .codeImg {
	width: 5.1rem;
	height: 2rem;
	margin: auto;
	margin-top: .3rem
}

.sp-content .code-layer .codeImg p {
	font-size: .25rem
}

.sp-content .code-layer .codeImg input {
	width: 5rem;
	height: .8rem;
	margin-top: .15rem;
	border: 1px solid #f60;
	border-radius: .2rem;
	text-align: center;
	font-size: .3rem
}

.sp-content .code-layer .codeImg .correct {
	color: red;
	line-height: 2;
	padding-left: .1rem;
	letter-spacing: 1px
}

.sp-content .code-layer .bottomBtn {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #fff;
	background-color: #f60
}

.sp-content .code-layer .bottomBtn button {
	width: 50%;
	height: .8rem;
	display: inline-block;
	float: left;
	color: #fff;
	font-size: .3rem
}

.sp-content .code-layer .bottomBtn button:first-child {
	border-right: 1px solid #fff
}

.sp-content .wrong {
	width: 50%;
	height: .8rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: fixed;
	bottom: 10%;
	left: 25%;
	z-index: 999;
	background-color: rgba(0,0,0,.7);
	border-radius: .2rem;
	color: #fff;
	text-align: center;
	line-height: .8rem;
	font-size: .28rem
}
